//@import 'lightslider';

@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



$yellow: rgb(248,196,84);
$pink: rgb(255, 76, 118);
$black: black;
$gray: rgb(62, 60, 71);
$grayl: #BBB;
$blue: rgb(39, 210, 223); 
$lightgray: rgb(245, 245, 245);
$break-md: 992px;
$break-sm: 768px;
$break-lg: 1055px;
$white: white;
$purple: #413b47;

#dodreviews12 {
  font-family: 'Gotham Rounded', Arial, sans-serif;
  position: relative;
  width: 100%;
  max-width: $break-lg;
  margin: 0 auto;
  padding: 0;
    
  div, p {
    box-sizing: border-box;
  }
  a {
    color: $pink;
  }
  h1 {
    color: $pink;
    text-align: center;
    margin-bottom: 0.5em;
  }
  .dodrslider {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    @extend %clearfix;
  }
  
  .dodrarrow {
    display: none;
    width: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background: transparent url('../../assets/arrow-left.png') no-repeat center ;
    cursor: pointer;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.5s;
    &:hover {
      opacity: 0.7;
    }
    &.dodrleftarrow {
      left: 31%;
    }
    &.dodrrighttarrow {
      background: transparent url('../../assets/arrow-right.png') no-repeat center ;
      left: 67%;
    }
    @media screen and (min-width: $break-md){
      display: block;
    }
  }
  .dodrslide {
    width: 31.333333%;
    float: left;
    margin: 0 1%;
    position: relative;
    transition: opacity 0.5s;
    list-style-type: none;
    .dodrtop {
      padding: 4px 0;
      margin-bottom: 4px;
    }
    &:nth-child(1n+4) {
      display: none;
    }
    @media screen and (max-width: $break-md) {
      width: 50%;
      margin: 0;
      &:nth-child(1n+3){
        display: none;
      }
    }
    @media screen and (max-width: $break-sm) {
      width: 100%;
      float: none;
    }
    @media screen and (min-width: $break-md){
      &:nth-child(2){
        background: $lightgray;
        .dodrtop {
          background: $gray;
        }
      }
      &:first-child{
        margin-left: 0;
        margin-right: 2%;
        .dodrtext {
          padding-left: 0;
          padding-right: 2em;
        }
      }
      &:nth-child(3){
        margin-right: 0;
        margin-left: 2%;
        .dodrtext {
          padding-right: 0;
          padding-left: 2em;
        }
        .dodrdate {
          padding-left: 2em;
        }
      }
    }
  }
  .dodrstars {
    height: 30px;
    overflow: hidden;
    width: 160px;
    margin: 0 auto;
    .dodrstar {
      margin: 0 -84px;
      margin-top: -20px;
      margin-bottom: 10px;
      position: relative;
      display: block;
      float: left;
      color: $yellow;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid $yellow;
      border-left: 100px solid transparent;
      @include vendor-prefix(transform, rotate(35deg) scale(0.13));
      &:before {
        border-bottom: 80px solid $yellow;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        position: absolute;
        height: 0;
        width: 0;
        top: -45px;
        left: -65px;
        display: block;
        content: '';
        @include vendor-prefix(transform, rotate(-35deg));
      }
      &:after {
        position: absolute;
        display: block;
        color: $yellow;
        top: 3px;
        left: -105px;
        width: 0px;
        height: 0px;
        border-right: 100px solid transparent;
        border-bottom: 70px solid $yellow;
        border-left: 100px solid transparent;
        @include vendor-prefix(transform, rotate(-70deg));
        content: '';
      }
    }
  }
  .dodrtext {
    clear: both;
    color: $black;
    padding: 0.3em 1em 0;
    .dodrreview {
      &:before {
        content: '\201C';
        font-size: 4em;
        line-height: 0.1em;
        margin-right: -3px;
        vertical-align: -0.4em;
        display: block;
        position: absolute;
        top: 85px;
        left: -10px;
        color: $grayl;
        display: none;
//        @include vendor-prefix(transform, scale(0.5,1.0));
      }
      &:after {
        content: '\201D';
        font-size: 4em;  
        line-height: 0.1em;
        display: block;
        display: none;
        position: absolute;
        top: 85px;
        right: -10px;
        color: $grayl;
//        @include vendor-prefix(transform, scale(0.5,1.0));
      }
      .dodrfullr {
        display: none;
      }
    }
    .dodrreadmore {
      text-decoration: none;
      cursor: pointer;
    }    
    .dodrusername {
      span {
        color: $blue;
      }
    }
  }
  .dodrdate {
    padding: 0 1em;
    font-weight: bold;
    margin-top: 0.3em;
  }
}



.removed {
  display: none !important;
}

.dodrheaderprev {
  background: $purple;
}
.dodrdcontent {
  p {
    max-width: $break-lg;
    margin: 0 auto;
  }
  #dodreviews12 {
    margin: 30px auto 50px;
  }
  .addtoany_content_top  {
    display: none !important;
  }
}
.dodrdoctorheader {
  background: $purple;
  margin-top: 40px;
  max-width: $break-lg;
  margin: auto;
  margin-top: 2em;
  color: white;
  position: relative;
  min-height: 190px;
  margin-bottom: 1em;
  &:before {
    width: 100%;
    background: $purple;
    color: $purple;
    content: "-";
    height: 10px;
    display: block;
  }
  img {
    width: 240px;
    border: 8px solid $blue;
    border-radius: 50%;
    box-sizing: border-box;
    background: $white;
    margin-top: -25px;
  }
  h1 {
    color: white;
  }
  h2 {
    border-bottom: 1px solid $white;
    padding-bottom: 10px;
    color: white;
  }
  p {
    a {
      color: white;
      &:first-child {

      }
      &:last-child {
        background: $pink;
        padding-top: 3px;
        border: 1px solid white;
        border-radius: 3px;
        padding: 8px 10px;
        text-transform: uppercase;
        &:before {
          content: " ";
          margin-right: 10px;
          height: 1em;
          width: 1em;
          background-image: url('../../assets/camera.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          display: inline-block;  
        }
      }
    }
  }
  @media screen and (max-width: $break-sm) {
    text-align: center;
  }
  @media screen and (min-width: $break-sm) {
    margin-bottom: 3em;
    img {
      position: absolute;
      left: 2em;
    }
    h1 {
      position: absolute;
      left: 300px;
      top: 25px;
    }
    h2 {
      position: absolute;
      left: 300px;
      top: 70px;
      right: 1px;
    }
    p {
      a {
        &:last-child {
          position: absolute;
          left: 300px;
          top: 130px;
        }
        &:first-child {
          position: absolute;
          right: 2px;
          top: 70px;
        }
      }
    }
  }
}